version: 1
interactions:
- request:
    method: POST
    uri: https://mcp.deepwiki.com/mcp
    headers:
      content-type:
      - application/json
    body:
      type: json
      content:
        id: 0
        jsonrpc: '2.0'
        method: initialize
        params:
          capabilities:
            sampling: {}
          clientInfo:
            name: mcp
            version: 0.1.0
          protocolVersion: 2025-06-18
  response:
    status: 200
    headers:
      mcp-session-id:
      - 79634f20860e529d0253e303afbce2571a0543c155a087250648960da3c67059
      content-type:
      - text/event-stream
    body:
      type: text
      content: |+
        event: message
        data: {"jsonrpc":"2.0","id":0,"result":{"protocolVersion":"2025-03-26","capabilities":{"tools":{"listChanged":true}},"serverInfo":{"name":"DeepWiki","version":"0.0.1"}}}

        event: ping
        data: ping

  recorded_at: 2026-03-06T19:45:56.994514+00:00
- request:
    method: GET
    uri: https://mcp.deepwiki.com/mcp
    headers:
      mcp-protocol-version:
      - 2025-03-26
      mcp-session-id:
      - 79634f20860e529d0253e303afbce2571a0543c155a087250648960da3c67059
      content-type:
      - application/json
    body:
      type: none
  response:
    status: 405
    headers:
      content-type:
      - text/plain;charset=UTF-8
    body:
      type: json
      content:
        error:
          code: -32000
          message: Method not allowed
        id: null
        jsonrpc: '2.0'
  recorded_at: 2026-03-06T19:45:56.994514+00:00
[...]
- request:
    method: POST
    uri: https://mcp.deepwiki.com/mcp
    headers:
      mcp-protocol-version:
      - 2025-03-26
      content-type:
      - application/json
      mcp-session-id:
      - 79634f20860e529d0253e303afbce2571a0543c155a087250648960da3c67059
    body:
      type: json
      content:
        id: 1
        jsonrpc: '2.0'
        method: tools/list
  response:
    status: 200
    headers:
      mcp-session-id:
      - 79634f20860e529d0253e303afbce2571a0543c155a087250648960da3c67059
      content-type:
      - text/event-stream
    body:
      type: text
      content: |+
        event: message
        data: {"jsonrpc":"2.0","id":1,"result":{"tools":[{"name":"read_wiki_structure","description":"Get a list of documentation topics for a GitHub repository","inputSchema":{"type":"object","properties":{"repoName":{"type":"string","description":"GitHub repository: owner/repo (e.g. \"facebook/react\")"}},"required":["repoName"],"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}},{"name":"read_wiki_contents","description":"View documentation about a GitHub repository","inputSchema":{"type":"object","properties":{"repoName":{"type":"string","description":"GitHub repository: owner/repo (e.g. \"facebook/react\")"}},"required":["repoName"],"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}},{"name":"ask_question","description":"Ask any question about a GitHub repository","inputSchema":{"type":"object","properties":{"repoName":{"type":"string","description":"GitHub repository: owner/repo (e.g. \"facebook/react\")"},"question":{"type":"string","description":"The question to ask about the repository"}},"required":["repoName","question"],"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}}]}}

        event: ping
        data: ping

  recorded_at: 2026-03-06T19:45:56.994514+00:00
[...]
