interactions:
- request:
    headers:
      content-type:
      - application/json
    method: POST
    parsed_body:
      id: 0
      jsonrpc: '2.0'
      method: initialize
      params:
        capabilities:
          sampling: {}
        clientInfo:
          name: mcp
          version: 0.1.0
        protocolVersion: '2025-06-18'
    uri: https://mcp.deepwiki.com/mcp
  response:
    body:
      string: |+
        event: message
        data: {"jsonrpc":"2.0","id":0,"result":{"protocolVersion":"2025-03-26","capabilities":{"tools":{"listChanged":true}},"serverInfo":{"name":"DeepWiki","version":"0.0.1"}}}

        event: ping
        data: ping

    headers:
      content-type:
      - text/event-stream
      mcp-session-id:
      - 79634f20860e529d0253e303afbce2571a0543c155a087250648960da3c67059
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      content-type:
      - application/json
      mcp-protocol-version:
      - '2025-03-26'
      mcp-session-id:
      - 79634f20860e529d0253e303afbce2571a0543c155a087250648960da3c67059
    method: GET
    uri: https://mcp.deepwiki.com/mcp
  response:
    body:
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Method not allowed"},"id":null}'
    headers:
      content-type:
      - text/plain;charset=UTF-8
    status:
      code: 405
      message: Method Not Allowed
[...]
- request:
    headers:
      content-type:
      - application/json
      mcp-protocol-version:
      - '2025-03-26'
      mcp-session-id:
      - 79634f20860e529d0253e303afbce2571a0543c155a087250648960da3c67059
    method: POST
    parsed_body:
      id: 1
      jsonrpc: '2.0'
      method: tools/list
    uri: https://mcp.deepwiki.com/mcp
  response:
    body:
      string: |+
        event: message
        data: {"jsonrpc":"2.0","id":1,"result":{"tools":[{"name":"read_wiki_structure","description":"Get a list of documentation topics for a GitHub repository","inputSchema":{"type":"object","properties":{"repoName":{"type":"string","description":"GitHub repository: owner/repo (e.g. \"facebook/react\")"}},"required":["repoName"],"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}},{"name":"read_wiki_contents","description":"View documentation about a GitHub repository","inputSchema":{"type":"object","properties":{"repoName":{"type":"string","description":"GitHub repository: owner/repo (e.g. \"facebook/react\")"}},"required":["repoName"],"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}},{"name":"ask_question","description":"Ask any question about a GitHub repository","inputSchema":{"type":"object","properties":{"repoName":{"type":"string","description":"GitHub repository: owner/repo (e.g. \"facebook/react\")"},"question":{"type":"string","description":"The question to ask about the repository"}},"required":["repoName","question"],"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}}]}}

        event: ping
        data: ping

    headers:
      content-type:
      - text/event-stream
      mcp-session-id:
      - 79634f20860e529d0253e303afbce2571a0543c155a087250648960da3c67059
    status:
      code: 200
      message: OK
[...]
