interactions:
- request:
    headers:
      content-type:
      - application/json
    method: POST
    parsed_body:
      id: 0
      jsonrpc: '2.0'
      method: initialize
      params:
        capabilities:
          sampling: {}
        clientInfo:
          name: mcp
          version: 0.1.0
        protocolVersion: '2025-11-25'
    uri: https://mcp.deepwiki.com/mcp
  response:
    body:
      string: "event: message\r\ndata: {\"jsonrpc\":\"2.0\",\"id\":0,\"result\":{\"protocolVersion\":\"2025-11-25\",\"capabilities\":{\"experimental\":{},\"prompts\":{\"listChanged\":true},\"resources\":{\"subscribe\":false,\"listChanged\":true},\"tools\":{\"listChanged\":true}},\"serverInfo\":{\"name\":\"DeepWiki\",\"version\":\"2.14.3\"},\"instructions\":\"DeepWiki
        MCP provides AI-powered documentation for GitHub repositories.\\n\\nAvailable tools:\\n- read_wiki_structure: Get
        a list of documentation topics for a repository\\n- read_wiki_contents: View full documentation about a repository\\n-
        ask_question: Ask any question about a repository and get an AI-powered answer\\n- list_available_repos: List your
        available repositories (private mode only)\"}}\r\n\r\n"
    headers:
      content-type:
      - text/event-stream
    status:
      code: 200
      message: OK
- request:
    headers:
      content-type:
      - application/json
      mcp-protocol-version:
      - '2025-11-25'
    method: POST
    parsed_body:
      jsonrpc: '2.0'
      method: notifications/initialized
    uri: https://mcp.deepwiki.com/mcp
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    headers:
      content-type:
      - application/json
      mcp-protocol-version:
      - '2025-11-25'
    method: POST
    parsed_body:
      id: 1
      jsonrpc: '2.0'
      method: tools/list
    uri: https://mcp.deepwiki.com/mcp
  response:
    body:
      string: "event: message\r\ndata: {\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"tools\":[{\"name\":\"read_wiki_structure\",\"description\":\"Get
        a list of documentation topics for a GitHub repository.\\n\\nArgs:\\n    repoName: GitHub repository in owner/repo
        format (e.g. \\\"facebook/react\\\")\",\"inputSchema\":{\"properties\":{\"repoName\":{\"type\":\"string\"}},\"required\":[\"repoName\"],\"type\":\"object\"},\"outputSchema\":{\"properties\":{\"result\":{\"type\":\"string\"}},\"required\":[\"result\"],\"type\":\"object\",\"x-fastmcp-wrap-result\":true},\"_meta\":{\"_fastmcp\":{\"tags\":[]}}},{\"name\":\"read_wiki_contents\",\"description\":\"View
        documentation about a GitHub repository.\\n\\nArgs:\\n    repoName: GitHub repository in owner/repo format (e.g. \\\"facebook/react\\\")\",\"inputSchema\":{\"properties\":{\"repoName\":{\"type\":\"string\"}},\"required\":[\"repoName\"],\"type\":\"object\"},\"outputSchema\":{\"properties\":{\"result\":{\"type\":\"string\"}},\"required\":[\"result\"],\"type\":\"object\",\"x-fastmcp-wrap-result\":true},\"_meta\":{\"_fastmcp\":{\"tags\":[]}}},{\"name\":\"ask_question\",\"description\":\"Ask
        any question about a GitHub repository and get an AI-powered, context-grounded response.\\n\\nArgs:\\n    repoName:
        GitHub repository or list of repositories (max 10) in owner/repo format\\n    question: The question to ask about
        the repository\",\"inputSchema\":{\"properties\":{\"repoName\":{\"anyOf\":[{\"type\":\"string\"},{\"items\":{\"type\":\"string\"},\"type\":\"array\"}]},\"question\":{\"type\":\"string\"}},\"required\":[\"repoName\",\"question\"],\"type\":\"object\"},\"outputSchema\":{\"properties\":{\"result\":{\"type\":\"string\"}},\"required\":[\"result\"],\"type\":\"object\",\"x-fastmcp-wrap-result\":true},\"_meta\":{\"_fastmcp\":{\"tags\":[]}}}]}}\r\n\r\n"
    headers:
      content-type:
      - text/event-stream
    status:
      code: 200
      message: OK
version: 1
