interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/agents/agent_3701m1hxk8qmer0v2p4grgjb6nre
  response:
    headers:
      content-type:
      - application/json
    parsed_body:
      access_info:
        access_source: creator
        anonymous_access_level_override: null
        creator_email: scrubbed
        creator_name: scrubbed
        is_creator: true
        role: admin
      agent_id: agent_3701m1hxk8qmer0v2p4grgjb6nre
      branch_id: agtbrch_2101m1hxk9needt8bcrsc5ph0063
      conversation_config:
        agent:
          disable_first_message_interruptions: false
          dynamic_variables:
            dynamic_variable_placeholders: {}
          first_message: ''
          hinglish_mode: false
          language: en
          max_conversation_duration_message: ''
          prompt:
            backup_llm_config:
              preference: default
            bedrock_llm: null
            built_in_tools:
              end_call: null
              language_detection: null
              memory_entry_search: null
              play_keypad_touch_tone: null
              request_help: null
              run_subagent: null
              skip_turn: null
              transfer_to_agent: null
              transfer_to_genesys: null
              transfer_to_genesys_bot: null
              transfer_to_genesys_chat: null
              transfer_to_number: null
              update_state: null
              voicemail_detection: null
            cascade_timeout_seconds: 4.0
            custom_llm: null
            enable_parallel_tool_calls: false
            enable_reasoning_summary: false
            ignore_default_personality: true
            knowledge_base: []
            llm: gemini-2.5-flash
            max_tokens: -1
            mcp_server_ids: []
            native_mcp_server_ids: []
            opener: null
            prompt: You are a helpful assistant.
            rag:
              embedding_model: e5_mistral_7b_instruct
              enabled: false
              knowledge_base_tool_info: null
              max_documents_length: 50000
              max_retrieved_rag_chunks_count: 20
              max_vector_distance: 0.6
              num_candidates: null
              optional_rag_enabled: false
              query_rewrite_prompt_override: null
            reasoning_effort: null
            speech_engine: null
            temperature: 0.0
            thinking_budget: null
            timezone: null
            tool_ids:
            - tool_6301m1hxk8k0eaavdyfrv3jdre2d
            tools:
            - assignments: []
              description: Look up the current weather for a city.
              disable_interruptions: false
              dynamic_variables:
                dynamic_variable_placeholders: {}
              execution_mode: immediate
              expects_response: true
              force_pre_tool_speech: false
              interruption_mode: allow
              name: get_weather
              parameters:
                description: ''
                dynamic_variable: ''
                is_omitted: false
                properties:
                  city:
                    allowed_values_dynamic_variable: ''
                    constant_value: ''
                    description: City name
                    dynamic_variable: ''
                    enum: null
                    is_omitted: false
                    is_system_provided: false
                    type: string
                required:
                - city
                type: object
              pre_tool_speech: auto
              response_timeout_secs: 20
              tool_call_sound: null
              tool_call_sound_behavior: auto
              tool_error_handling_mode: auto
              type: client
          text_behavior_overrides: null
        asr:
          keywords: []
          provider: scribe_realtime
          quality: high
          user_input_audio_format: pcm_16000
        conversation:
          background_sound:
            crossfade_loop: true
            source_id: null
            source_type: null
            volume: 0.15
          client_events:
          - audio
          - interruption
          - agent_response
          - user_transcript
          - agent_response_correction
          - agent_tool_response
          - context_usage
          compaction:
            enabled: null
            min_reclaimable_tokens: null
            soft_trigger_fraction: null
            tail_size: null
          dtmf_input_settings: null
          file_input:
            enabled: true
            max_files_in_memory: 10
            max_files_per_conversation: 10
          max_duration_seconds: 600
          max_duration_seconds_after_last_agent_message: null
          monitoring_enabled: false
          monitoring_events:
          - user_transcript
          - agent_response
          - agent_response_correction
          source_attribution: false
          text_only: false
        language_presets: {}
        realtime_model: null
        tts:
          agent_output_audio_format: pcm_16000
          audio_effects: null
          enable_phoneme_tags: true
          expressive_mode: false
          model_id: eleven_flash_v2
          optimize_streaming_latency: 3
          pronunciation_dictionary_locators: []
          similarity_boost: 0.8
          speed: 1.0
          stability: 0.5
          suggested_audio_tags: []
          supported_voices: []
          text_normalisation_type: system_prompt
          voice_id: cjVigY5qzO86Huf0OWal
        turn:
          initial_wait_time: null
          interruption_ignore_term_languages: []
          interruption_ignore_terms: []
          merge_with_default_ignore_terms: false
          mode: turn
          retranscribe_on_turn_timeout: false
          silence_end_call_timeout: -1.0
          soft_timeout_config:
            additional_soft_timeout_messages: []
            disable_until_first_user_message: false
            llm_generated_message_prompt_override: null
            max_soft_timeouts_per_generation: 1
            message: Hhmmmm...yeah.
            randomize_fillers: false
            timeout_seconds: -1.0
            use_llm_generated_message: false
          speculative_turn: false
          spelling_patience: auto
          transcribe_on_disabled_interruptions: false
          turn_eagerness: normal
          turn_model: turn_v3
          turn_timeout: 7.0
        vad:
          background_voice_detection: false
      default_hold_audio_url: https://eleven-public-cdn-common.elevenlabs.io/convai/ambient-audio-assets/elevator1.mp3
      main_branch_id: agtbrch_2101m1hxk9needt8bcrsc5ph0063
      metadata:
        created_at_unix_secs: 1788381603
        updated_at_unix_secs: 1788381603
      name: pydantic-ai-test-agent
      phone_numbers: []
      platform_settings:
        alerting: null
        analysis_bedrock_llm: null
        analysis_items:
          data_collection: []
          evaluation_criteria: []
        analysis_llm: gemini-2.5-flash
        analysis_llm_billed: false
        archived: false
        auth:
          allowlist: []
          enable_auth: false
          require_origin_header: false
          shareable_token: null
        auto_translate_transcript_to_app_language: null
        ban: null
        call_limits:
          agent_concurrency_limit: -1
          bursting_enabled: true
          daily_limit: 100000
        data_collection: {}
        data_collection_scopes: {}
        evaluation:
          criteria: []
        guardrails:
          content:
            config:
              harassment:
                is_enabled: false
                threshold: medium
              medical_and_legal_information:
                is_enabled: false
                threshold: medium
              profanity:
                is_enabled: false
                threshold: medium
              religion_or_politics:
                is_enabled: false
                threshold: medium
              self_harm:
                is_enabled: false
                threshold: medium
              sexual:
                is_enabled: false
                threshold: medium
              violence:
                is_enabled: false
                threshold: medium
            execution_mode: streaming
            trigger_action:
              type: end_call
          custom:
            config:
              configs: []
          focus:
            is_enabled: false
          moderation: null
          prompt_injection:
            is_enabled: false
          synthetic_voice:
            is_enabled: false
            trigger_action:
              type: end_call
          version: '1'
        overrides:
          conversation_config_override:
            agent:
              first_message: true
              language: true
              max_conversation_duration_message: false
              prompt:
                knowledge_base: false
                llm: true
                native_mcp_server_ids: false
                prompt: true
                tool_ids: true
            asr:
              keywords: false
            conversation:
              max_duration_seconds: false
              text_only: true
            tts:
              model_id: true
              pronunciation_dictionary_locators: false
              similarity_boost: true
              speed: true
              stability: true
              supported_voices: false
              voice_id: true
            turn:
              soft_timeout_config:
                additional_soft_timeout_messages: false
                message: false
          custom_llm_extra_body: true
          enable_conversation_initiation_client_data_from_webhook: false
          enable_procedure_ids_from_client: false
          enable_starting_workflow_node_id_from_client: false
        overview_dashboard_template_id: null
        privacy:
          apply_to_existing_conversations: false
          conversation_history_redaction:
            enabled: false
            entities: []
          delete_audio: false
          delete_transcript_and_pii: false
          nested_history_redaction: false
          record_voice: true
          retention_days: -1
          zero_retention_mode: false
        queueing_config:
          enabled: false
          hold_audio: null
          wait_timeout_seconds: 180
        safety:
          ignore_safety_evaluation: false
          is_blocked_ivc: false
          is_blocked_non_ivc: false
        sentiment_analysis:
          enabled: true
        simulation_library:
          enabled: false
          test_ids: []
        smb_metadata: null
        summary_language: null
        testing:
          attached_tests: []
          referenced_tests_ids: []
        topic_discovery:
          enabled: true
        trust_context: unknown
        widget:
          action_text: null
          always_expanded: false
          avatar:
            color_1: '#2792dc'
            color_2: '#9ce6e6'
            type: orb
          bg_color: '#ffffff'
          border_color: '#e1e1e1'
          border_radius: null
          btn_color: '#000000'
          btn_radius: null
          btn_text_color: '#ffffff'
          conversation_mode_toggle_enabled: false
          custom_avatar_path: null
          default_expanded: false
          disable_banner: false
          dismissible: false
          end_call_text: null
          end_feedback:
            type: rating
          expand_text: null
          expandable: never
          feedback_mode: none
          first_message_quick_replies: []
          focus_color: '#000000'
          language_presets: {}
          language_selector: false
          listening_text: null
          markdown_link_allow_http: true
          markdown_link_allowed_hosts: []
          markdown_link_include_www: true
          mic_muting_enabled: true
          override_link: null
          placement: bottom-right
          shareable_page_show_terms: true
          shareable_page_text: null
          show_agent_status: false
          show_avatar_when_collapsed: false
          show_conversation_id: true
          show_resize_button: true
          speaking_text: null
          start_call_text: null
          strip_audio_tags: true
          styles:
            accent: null
            accent_active: null
            accent_border: null
            accent_hover: null
            accent_primary: null
            accent_subtle: null
            base: null
            base_active: null
            base_border: null
            base_error: null
            base_hover: null
            base_primary: null
            base_subtle: null
            bubble_radius: null
            button_radius: null
            compact_sheet_radius: null
            dropdown_sheet_radius: null
            input_radius: null
            overlay_padding: null
            sheet_radius: null
          supports_text_only: true
          syntax_highlight_theme: null
          terms_html: null
          terms_key: null
          terms_text: null
          text_color: '#000000'
          text_contents:
            accept_terms: null
            agent_done: null
            agent_ended_conversation: null
            agent_error: null
            agent_working: null
            attach_file: null
            change_language: null
            chatting_status: null
            collapse: null
            connecting_status: null
            conversation_id: null
            copied: null
            copy: null
            copy_id: null
            dismiss_terms: null
            download: null
            end_call: null
            error_occurred: null
            expand: null
            file_limit_reached: null
            file_too_large: null
            file_type_unsupported: null
            file_upload_error: null
            follow_up_feedback_placeholder: null
            go_back: null
            initiate_feedback: null
            input_label: null
            input_placeholder: null
            input_placeholder_new_conversation: null
            input_placeholder_text_only: null
            listening_status: null
            main_label: null
            mute_microphone: null
            new_call: null
            remove_file: null
            request_follow_up_feedback: null
            send_message: null
            speaking_status: null
            start_call: null
            start_chat: null
            submit: null
            switched_to_text_mode: null
            switched_to_voice_mode: null
            text_mode: null
            thanks_for_feedback: null
            thanks_for_feedback_details: null
            typing_indicator: null
            user_ended_conversation: null
            voice_mode: null
            wrap: null
          text_input_enabled: true
          transcript_enabled: true
          variant: full
        workspace_overrides:
          conversation_initiation_client_data_webhook: null
          webhooks:
            events:
            - transcript
            post_call_webhook_id: null
            send_audio: false
            transcript_format: json
      procedures: {}
      tags: []
      trust_context: unknown
      version_id: agtvrsn_7101m1hxk9qsewsss608yhwkhcm1
      whatsapp_accounts: []
      workflow:
        edges: {}
        nodes:
          start_node:
            edge_order: []
            parent_subgraph_id: null
            position:
              x: 0.0
              y: 0.0
            type: start
        prevent_subagent_loops: false
        subgraphs: {}
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/conversation/get-signed-url?agent_id=agent_3701m1hxk8qmer0v2p4grgjb6nre
  response:
    headers:
      content-type:
      - application/json
    parsed_body:
      signed_url: wss://api.elevenlabs.io/v1/convai/conversation?agent_id=agent_3701m1hxk8qmer0v2p4grgjb6nre&conversation_signature=scrubbed
    status:
      code: 200
      message: OK
version: 1
